* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  background-color: #222;
  color: #fff;
}

.not-found {
  height: 89.5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.not-found h2 {
  font-weight: 500;
}

.not-found a {
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: #8ab4f7;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.not-found a:hover {
  background-color: #6a8bc1;
}

.home {
  width: 80%;
  margin: auto;
  height: 100vh;
}

.home .hero-flex {
  margin-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .hero-flex .text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.home .hero-flex .text h2,
.home .hero-flex .text p {
  margin-bottom: 0.5em;
}

.home .hero-flex .text button {
  margin-top: .5em;
  padding: 0.5em 1em;
  background-color: #8ab4f7;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.home .hero-flex .text button:hover {
  background-color: #6a8bc1;
}

.home .hero-flex .img {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home .hero-flex .img img {
  height: 300px;
  width: 400px;
}

.home input {
  padding: 0.75em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin-bottom: 0.75em;
  background-color: #333;
  color: white;
  border-radius: 4px;
  border: none;
}

.quizzes {
  width: 80%;
  margin: auto;
  height: 90vh;
}

.quizzes p {
  margin-top: 1em;
}

.quizzes input {
  margin-top: 2em;
  padding: 0.75em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin-bottom: 0.75em;
  background-color: #333;
  color: white;
  border-radius: 4px;
  border: none;
}

.quizzes .quiz {
  display: block;
  height: 70px;
  margin: 2em 0;
}

.quizzes .quiz a {
  padding: 0.5em 1em;
  text-decoration: none;
  background-color: #8ab4f7;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.quizzes .quiz a:hover {
  background-color: #6a8bc1;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.navbar nav {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar nav .logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.navbar nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar nav ul a {
  color: inherit;
  text-decoration: none;
}

.navbar nav ul a:hover {
  text-decoration: underline;
}

.quiz {
  background-color: #222;
  color: #fff;
  height: 89.5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.quiz-container {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  color: #fff;
  padding: 20px;
  width: 500px;
  height: 200px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 14px;
}

.question {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h2 {
  margin-bottom: 1em;
}

.answers {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.choice {
  margin-bottom: 1.25em;
}

.choice button {
  width: 100%;
  padding: 0.75em 0;
  background-color: #8ab4f7;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.choice button:hover {
  background-color: #6a8bc1;
}

.results {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results h2 {
  margin-bottom: 2.5em;
}

.results button {
  width: 100%;
  padding: 0.75em 0;
  background-color: #8ab4f7;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.results button:hover {
  background-color: #6a8bc1;
}

.create-quiz {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.create-quiz .cont input {
  padding: 0.75em 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin-bottom: 0.75em;
  background-color: #333;
  color: white;
  width: 100%;
  border-radius: 4px;
  border: none;
}

.create-quiz .cont button {
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #8ab4f7;
  color: white;
  cursor: pointer;
  margin-right: 1em;
  border-radius: 4px;
}

.create-quiz .cont button:hover {
  background-color: #6a8bc1;
}
/*# sourceMappingURL=style.css.map */